/* common */

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

/* header */

div.header{
    border-bottom: solid ;
    height: 100px; 
}

.title {
    color :red ;
    text-align: left; 
    float: left;
}

.header-list-container{
    float: right;
    margin: 30px;
}

li.header-list{
    display: inline;
    font-size: large;
    margin: 30px;
}



/* main */


