/* common */

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}
html {
    background-color: #CCCCCC;

    //smartphone-vertical
    @media screen and (max-width: 480) {
        font-size: 12px;
    }

    //smartphone-horizonal
    @media screen and (max-width: 896){
        font-size: 16px;
    }

    //tablet-vertical
    @media screen and (max-width: 1024) {
        font-size: 18px;
    }

    //pc and tablet-horiozonal
    @media screen {
        font-size: 20px;
    }
}


.linkbox {
    display: block;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}

