

#main--left {
    display: inline-block;
    margin-left: 10vw;
    margin-right: 10vw;
    width: 50vw;
    height: 160vw;
    background-color: white;
    vertical-align: top;

    #main-title {
        font-size: 1.5rem;
    }

    /*パンクズリスト*/
    #breadcrumb {
        margin: 1rem;
        font-size: 0.8rem;
    }   
}
