

#main--left {
    display: inline-block;
    margin-left: 5vw;
    margin-right: 5vw;
    width: 60vw;
    background-color: white;
    vertical-align: top;

    /*パンクズリスト*/
    #breadcrumb {
        margin: 1rem;
        font-size: 1rem;
    }   
}
