#main--sidebar {
    display: inline-block;
    width: 20vw;
    vertical-align: top;

    a:hover{
        text-decoration: underline;
    }

    #search-container {
        height:5rem;
        background-color: white;
        margin-bottom: 1rem;
        padding: 0.5rem;

        #search-box {
            height: 1.5rem;
        }

        p {
            font-size: 0.8rem;
            margin-block-end: 0;
        }

        a {
            color: blue;
        }
    }

    #self-intro-box {
        height: 15vh;
        padding: 0em 0.5em;
        margin-bottom: 3vh;
        background-color: white;

        p {
            font-size: 1em;
        }

        a{
            color: blue;
        }
    }

    #category-list-container {
        background-color: white;
        padding: 20px;

        p {
            font-size: 20px;
            margin-block-start: 0px;
        }

        ul {
            padding-inline-start: 10px;

            li {
                font-size: 15px;
                color: blue;
                margin: 10px;
            }
            
        }
    }
}
