#main--left {
    display: inline-block;
    margin-top: 120px;
    margin-left: 120px;
    font-size: 30px;
    width: 750px;
    background-color: white;
    vertical-align: top;
}

/*パンクズリスト*/
#breadcrumb {
    margin: 20px;
    font-size: 15px;
}

#main--title {
    margin: 0px 20px;
}

#page-switch {
    margin: 30px;
    height: 30px;
    font-size: 15px;
    color: blue;
}

#page-switch--previous {
    float: left;
}

#page-switch--next {
    float: right;
}