/*articleページのcss*/

@use '../components/app-common';

@use '../components/header';

@use '../components/main-left';

@use '../components/breadcrumb';

@use '../components/main--sidebar';

#article {

    margin: 1rem;

    &--title {
        margin-block-start: 4rem;
    }

    &--updateDate {
        text-align: right;
        font-size: 0.8rem;
    }

    &--content {
        font-size: 1rem;
        overflow-wrap: break-word;

        .red {
            color: red;
        }

        a {
            color: blue;

            &:hover {
                text-decoration: underline;
            }
        }

        // for marked article

        //  h element
        h1, h2, h3, h4 {
            border-bottom: 1px solid #ddd;
        }

        //  code block
        pre {
            background-color: #333333;
            padding: 1rem;
            code {
                color: white;
            }
        }
    }

    
}


