/* common */

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}
html {
    background-color: #CCCCCC;

    //smartphone-vertical
    @media screen and (min-width: 320px) {
        font-size: 10px;
    }

    //smartphone-horizonal
    @media screen and (min-width: 481px) and (max-width: 896px){
        font-size: 16px;
    }

    //tablet-vertical
    @media screen and (min-width: 897px) and (max-width: 1024px) {
        font-size: 18px;
    }

    //pc and tablet-horiozonal
    @media screen and (min-width: 1025px) {
        font-size: 20px;
    }
}


.linkbox {
    display: block;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}


.break-word {
    overflow-wrap: break-word;
}


.img-to-circle {
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  100%;       /* ※縦横を同値に */
    height: 100%;       /* ※縦横を同値に */
}
