
#page-switch {
    margin: 1.5rem;
    height: 1.5rem;
    font-size: 0.8rem;
    color: blue;

    &--previous {
        float: left;

        &:hover {
            text-decoration: underline;
        }
    }

    &--next {
        float: right;

        &:hover {
            text-decoration: underline;
        }
    }
}
