/* common */

a{
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul{
    list-style-type: none;
}
html {
    background-color: #CCCCCC;
}

/* header */

#header {
    height: 200px; 
    padding-bottom: 0px;
    background-color: #444444;
}

#title {
    color : white;
    text-align: center; 
    padding-top:20px;
}

#index-container {
    height: 50px;
    margin-top: 80px;
}

#index-ul {
    display: flex;
    justify-content: space-around;
}

#index-ul > li > a {
    color: white;
    font-size: 20px;  
}


/* main */

#main{
    font-size: 0px;
}


#main--left {
    display: inline-block;
    margin-top: 120px;
    margin-left: 120px;
    font-size: 30px;
    width: 850px;
    background-color: white;
    vertical-align: top;
}

/*パンクズリスト*/
#breadcrumb {
    margin: 20px;
    font-size: 15px;
}

#main--title {
    margin: 0px 20px;
}

#page-switch {
    margin: 30px;
    height: 30px;
    font-size: 15px;
    color: blue;
}

#page-switch--previous {
    float: left;
}

#page-switch--next {
    float: right;
}


/*記事本体*/
.article-box {
    border: 2px solid black;
    margin: 30px;
}

.article-thumbnail-container {
    display: inline-block;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 20px;
}

.article-thumbnail {
    width: 100%;
    height: 100%;
}

.article-main {
    display: inline-block;
    vertical-align: top;
}

.article-title {
    font-size: 30px;
}

.article-update-date {
    font-size: 15px;
} 
/*記事本体終わり*/


#main--right {
    display: inline-block;
    width: 300px;
    margin-left: 100px;
    margin-top: 120px;
    vertical-align: top;
}

#category-list-container {
    background-color: white;
    margin-bottom: 50px;
    padding: 20px;
}

#category-list-container p {
    font-size: 20px;
    margin-block-start: 0px;
}

#category-list-container > ul {
    padding-inline-start: 10px;
}

#category-list-container > ul > li {
    font-size: 15px;
    color: blue;
    margin: 10px;
}


#my-twitter {
    background-color: white;
    height: 300px;
    font-size: 20px;
}